!!!
%html{ lang: "ja" }
  %head
    %meta{ charset: "utf-8" }
    = stylesheet_link_tag "application"
  %body
    .wrapper
      .side-bar
        .header
          %h2.header__user-name
            = current_user.name
          %ul.edit-list
            %li.edit-list__edit
              %a.link-basic{ href: "edit_account" }
                = link_to edit_user_path(current_user), class: "link-basic" do
                  = fa_icon("gear")
            %li.edit-list__new
              = fa_icon("edit")
        .rooms
          .room
            %a.link-basic{ href: "change_room" }
              %h3.room__room-name room-name
              %p.room__room-log room-log
          .room
            %a.link-basic{ href: "change_room" }
              %h3.room__room-name room-name
              %p.room__room-log room-log
          .room
            %a.link-basic{ href: "change_room" }
              %h3.room__room-name room-name
              %p.room__room-log room-log
      .main
        .header
          .room-info
            %h2.room-info__room-name MainRoom
            %ul.members
              %li.members__member Member：
              %li.members__member kzym
              %li.members__member kzym
              %li.members__member kzym
              %li.members__member kzym
          .edit-btn
            %p.edit-btn__btn-text
              %a.edit-btn__btn-text--link{ href: "edit_room" } Edit
        .chat
          .message
            %h3.message__name name
            %p.message__date date
            %p.message__body body
            %img.message__image{ src: "abc" }
          .message
            %h3.message__name name
            %p.message__date date
            %p.message__body body
            %img.message__image{ src: "abc" }
          .message
            %h3.message__name name
            %p.message__date date
            %p.message__body body
            %img.message__image{ src: "abc" }
        .form
          %form
            .input-box
              %input.input-box__text{ type: "text", placeholder: "type a message" }
              %label.input-box__image
                = fa_icon("image")
                %input.input-box__file-send{type: "file"}
            %button.form__send-btn{type: "submit",} Send
